*{
    padding: 0px;
    margin: 0px;
}

@font-face {
  font-family: 'gd';
  src: url('../fonts/Ubuntu-Regular.eot');
  src: url('../fonts/Ubuntu-Regular?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-Regular.svg#Locaweb-Icons') format('svg'),
  url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gd2';
  src: url('../fonts/maisfontes-corbel');
  font-weight: normal;
  font-style: normal;
}


@keyframes pulse
{
    0%
    {
        width: 0;
        height: 0;
        opacity: 1;
        left: 50px;
        top: 50px;
    }
    100%
    {
        width: 15px;
        height: 15px;
        opacity: 0;
        top:35px;
        left: 35px;
    }
}

@keyframes rodaroda {
    from {
        -transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes slidein {
    from {
        margin-top: 0%;
        
    }
    to {
        margin-top: .2%;
        
    }
}



body{
  font-family: 'gd';
}
.clearfix::before, .clearfix::after {
    content: "";    
    display: table;
}
.clearfix::after {
    clear: both;
}

nav ul li, .left{
    float: left;
}
.right{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
    position: relative;
}
nav.menu ul li a{
    text-decoration: none;
    color: #003f19;

}
.menu{
    text-align: center;
}

nav.menu ul{
    display: inline-block;
    margin: 0 auto;

}
nav.menu > ul > li:hover > a{
    color: red;
}

 nav.menu > ul > li:hover > ul{

    opacity: 1;
    display: inline-block;
    transition: all 1s;
} 

nav.menu ul li ul{

    position: absolute;
    left: 0;
    z-index: 10;
    padding: 40px 0;
    opacity: 0;
    display: none;
}


nav.menu ul li ul li{
    background: #003f19;
    font-size: .8em;
    padding: 10px;
    margin-left: 0px;
    width: 200%;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.2);

}

nav.menu ul li ul li:first-child{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

nav.menu ul li ul li:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav.menu ul li ul li a{
    color: #fff;
}

nav.menu > ul > li > ul > li:hover{
    background: #c50509;
    color: #fff;
    transition: background .5s;
}

.logo{
    width: 80%;
    margin-top: -15px;
}

.slider{
    position: relative;
}
.slider > p, .slider > h2 {
    position: absolute;
    left: 5%;
    top: 25%;
    width: 40%;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.slider > h2{
    left: 5%;
    font-size: 2.8em;
    width: 50%;
    top: 48%;
}

.slider > div{
    left: 85%;
    font-size: 1.5em;
    width: auto;
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.slider > div.maior-h{
    /*.slider > div.maior-h{*/
        bottom: 8%;
    }
    .slider > div.menor-h{
        bottom: 30%;
    }

    .slider > div.medio-h{
        bottom: 20%;
    }

    .perfil{
        position: absolute;
        top:75%;
        left: 5%;
    }


    .toggle-nav, .brand_responsive{
      display:none;
  }
  .brand img{
      width:80%;
  }

  .verde{
    background: #003f19;
    color: #fff;
}


.maior{

    width: 55%;

}
.menor{
    margin-left: 40px;
    width: 40%;

}


.bloco3 .maior{
    width: 40%;
}
.bloco3 .menor{
    margin-left: 90px;
}

.bloco2 .menor{
    margin-left: 0;
    margin-right: 3%;
}

.bloco1 img, .bloco2 img{
    box-shadow: 1px 1px 10px #000;
    width: 100%;

}

.bloco{
    margin-bottom: 10px;
}
.conteudo, .bloco{
    padding: 50px 9.122%
}

.bloco1, .bloco2, .bloco3{
    overflow: hidden;
    
}

.bloco2 header, .bloco3 header, .bloco1 header{
    width: 100%;

}

.bloco1{
    background: linear-gradient(to top, #dcd1c4 35%, #a8d5a1 35%);
    
}

.bloco2{
    background: linear-gradient(to top, #96cfe2 35%, #a3d4b4 35%);   

}


.bloco3{
    background: linear-gradient(to top, #f1dfac 35%, #e5e0df 35%);    
}
.bloco3 p, .bloco2 p, .bloco1 p, .bloco3 h2, .bloco2 h2, .bloco1 h2{
    color:#1b3d51 !important;
}

.bloco3 figure{
    z-index: 10;
    padding: 55% 0 50% 0;
}


.bloco3 img{
    display: inline-block; 
    position: absolute;
    clear: both;
    top: 10%; 
    left: 20%;
    box-shadow: none;
    /*padding: 20px;*/
    box-sizing: border-box;
    width: 85%;
}

.bloco .imagem-icons{
    margin: 5px auto !important;
}

figure.imagem-icons{
    width: 30%;
}
figure.imagem-icons img{
    box-shadow: none;

}

.estatico{
    display: none;
}


.vertical {
    vertical-align: middle;
    display: table-cell;
}


.desempenho{
    top:7%;
    left:66%;
}


.etica{
    left:100%;
    top:35%;
}

.educacao{
   left:93%;
   top: 72%; 
}

.emprego{
    left:51%;
    top: 87%; 
}

.diversidade{
    left:19%;
    top: 60%; 
}

.saude{
    left:25%;
    top: 22%; 
}


.bloco3 img:first-child{
    /*box-shadow: 1px 1px 10px #000;*/
    border-radius:  5px;
}



.more, .more_big{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    background-color: #00568d; 
    text-align:center;
    list-style: none;
    box-shadow: 1px 1px  5px rgba(0,0,0,0.5);
    
    animation-duration: .5s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    -moz-animation-duration: .5s;
    -moz-animation-name: slidein;
    -moz-animation-direction: alternate;
    -moz-animation-iteration-count: infinite;

}


.more:before, .more_big:before{
    content: '+';
    font-size: 1.5em;
    /*margin-top: 20px;*/
    color: #fff;
    font-weight: bold;
}
.more_big{
    width: 60px;
    height: 60px;
    
}
.more_big:before{
    font-size: 3em;
}

.more:hover .tooltip_invisivel, .more:hover .tooltip_invisivel_right{
    display: inline-block;
    position: absolute;
    margin-left: -50px;
    margin-top: -50px;
    height: 500%;
    width: 1000%;
}
.more > ul > li > a{
    color: inherit;
}
.tooltip_invisivel li{
    margin-left: -18%;
    margin-top: -10%;
    
}
.tooltip_invisivel_right{
    left: -400%;
}

.tooltip_small_left{
    background: rgba(221,221,221,.8);
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0,0,0,.4);
}

.tooltip_small_left a{
    text-decoration: none;
}
.tooltip_small_right{
    background-image: url(../imagens/tooltip_small_right.png);
}

.tooltip_big_left{ 
    background-image: url(../imagens/tooltip_small_left.png);
    /* background-image: url(../imagens/tooltip_big_left.png); */
}

.tooltip_big_right{
    /* background-image: url(../imagens/tooltip_big_right.png); */
    background-image: url(../imagens/tooltip_small_right.png);
}

.tooltip_small_left:before{
    content: "";
    border: 15px solid;
    border-color: rgba(221,221,221,.8) transparent transparent transparent;
    position: absolute;
    top:100%;
    left:50%;
    margin-left: -15px;

}

.tooltip, .tooltip_big_left, .tooltip_big_right, .tooltip_small_left, .tooltip_small_right{
    width:190px;
    padding: 10px 25px;
    box-sizing: border-box;
    top: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    z-index: 25;
    list-style: none;    
}

.tooltip span{
    font-size: 1em;
}



.tooltip_visivel{
    position:absolute;
    display: inline-block;
}

.lateral-componente{
    padding: 30px 0;
}
.lateral-componente figure{
    width: 20%
}
.lateral-componente div{
    width: 70%;
    margin-left:5%;
}


/**
 * Formatação de posição de elementos que disparam tooltip
 * Bloco1
 */

 .bio{
    top: 15%;
    left: 32%;
}

.gas{
    top: 13%;
    left: 70%;
}
.energ{
    top: 30%;
    left: 83%;
}
.agua{
    top: 28%;
    left: 47%; 
}
.serv{
    top: 55%;
    left: 48%; 
}

/* Bloco 2 */
.conf{
    top:13%;
    left:23%;    
}
.comun{
    top:26%;
    left:50%;
}
.forn{
    top:80%;
    left:25%;
}
.resid{
    top:75%;
    left:70%;
}

/*======================================================*/

.bloco h3, .bloco h2{
    color: #8b9093;
    margin-bottom: 15px;
}
.bloco p{
    color: #8b9093;
    font-size: 1.2em;

}

.artigo p{
    margin-top: 15px;
    line-height: 1.8em;
    font-size: 1.2em;
}

.bloco .citacao{
    font-size: 1.6em;
    width: 70%;
    line-height: 1.4em;
    margin-bottom: 80px;
    color: #1b3d51;
}

.baixo-perfil{
    margin-top: 90px;
}




.bloco2 .chamine{
    position: absolute;
    width: 12%;
    height: 100%;
    top: 42%;
    left: 75%;
    
}
.bloco1 .chamine{
    position: absolute;
    width: 12%;
    height: 100%;
    top: 6%;
    left: 67%;
    
}

.bloco2 .engrenagem{
    position: absolute;
    width: 7.8%;
    height: 100%;
    top: 50%;
    left: 73%;
    
}
.bloco1 .engrenagem{
    position: absolute;
    width: 7.8%;
    height: 100%;
    top: 16%;
    left: 65.5%;
    
}


.grande,  .medio, .pequena{

    position: absolute;

}

.engrenagem .grande, .engrenagem .medio, .engrenagem .pequena{
    -webkit-animation-name: rodaroda;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: rodaroda;
    box-shadow: none;

}

.bloco2 .engrenagem .grande{
    width: 60%;
    top: 8%;  
}

.bloco2 .engrenagem .medio{
    width: 50%;
    top: 14%;
    left:10%;
}

.bloco2 .engrenagem .pequena{
    width: 30%;
    top: 13%;
    left:55%;
}

.bloco1 .engrenagem .grande{
    width: 48%;
    top: 9%;  
}

.bloco1 .engrenagem .medio{
    width: 40%;
    top: 14%;
    left:10%;
}

.bloco1 .engrenagem .pequena{
    width: 28%;
    top: 13%;
    left:45%;
}


.fumaca-longa
{

    animation-duration: .8s;
    animation-name: pulse;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 20%;
    font: 0/0 serif;
}
.fumaca-media
{
    animation-name: pulse;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 10%;
    font: 0/0 serif;
}

.fumaca-curta
{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    
    background-color: #fff;
    border-radius: 50%;
    margin-top: 18%;
    margin-left: 13%;
    font: 0/0 serif;
    position: absolute;
}

section.conteudo, footer.conteudo{
    padding: 20px 50px 20px 50px
}

.relative{
    position: relative;
}

.container-tooltip{
    display: block;

}
.tooltip_invisivel, .tooltip_invisivel_right{
    display:none;
}

.colunas > section > article, .teaser, .texto {
    margin-left: 10%;
    margin-top: 40px;
}
.colunas > section > article:first-child{
    margin-left: 0px;
}
.header-citacao{
    text-align: center;
}
.lista-paragrafo{
    padding: 20px 0px;
}
.colunas > section > article p, .lista-paragrafo p{
    line-height: .8em;
}

.lista-header header{
    padding: 20px 0;
}

.lista-simples header{
    padding: 15px 15px;
    background-color: #033d43;
}

.lista-simples header h3{
    color: #fff !important;
}

.lista-simples ul{
    padding: 15px 35px;
    line-height: 1.5em;
    
}

.lista-simples ul li a{
    color: #2a3a54;
    text-decoration: none;
}


.teaser img, .img-central, .icones img, .tabela img, .alinhamento-direita img{
    margin-left: 0;
}

.img-central{
    width: 40%;
    margin: 30px auto;
    
}
.img-central img{
    box-shadow: none;
}

.icones{
    width: 20%;

}
.texto{
    width: 50%;
    margin-top: 0;
    text-align: justify;
}

.tabela {
    width: 70%;
    
}

.alinhamento-direita{
    width:80%;
    margin-left: 3%;
}
.alinhamento-direita figure{
    width: 10%;
    text-align: center;;
}
.lista-seta{
    margin-left: 50px;
    position: relative;
}

.lista-seta::before{
    content: " ";
    border: 10px solid;
    position: absolute;
    border-color:  transparent  transparent transparent #003f19;
    left: -40px;
    top:25%;
}
.navio{
    position: absolute;
    top:65%;
    left: 75%;
    width: 40%;

}

.navio-anda{
    left: 50%;
    -webkit-transition: left 4s;
    -moz-transition: left 4s;
}


.toggle-nav, .brand_responsive{
  display:none;
}

.brand img{
  width:80%;
}


/* -------------------------------------Animação ---------------------------------------------------- */

.easy{
    margin-left: 100%;
    opacity: 0;

}

.rotacao_direita{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    opacity: 0;
}

.rotacao_direita_show{
    margin-left: 0;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -moz-transition: margin-left 1s, transform 1s, opacity 1s;
    -webkit-transition: margin-left 1s, transform 1s, opacity 1s;

}

.rotacao_esquerda{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    opacity: 0;
}


.rotacao_esquerda_show{
    margin-left: 0;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -webkit-transition: margin-left 1s, transform 1s, opacity 1s;
    -moz-transform: rotate(0deg);
    -moz-transition: margin-left 1s, transform 1s, opacity 1s;

}

.bloco1_show{
    opacity: 1;
    -webkit-transition: opacity 0.5s ;
    -moz-transition: opacity 0.5s ;
}

.easy_show{

    margin-left: 0;
    opacity: 1;
    -webkit-transition: margin-left 1s, opacity 1s ease-in-out;
    -moz-transition: margin-left 1s, opacity 1s ease-in-out;
}


/*-----------------------------------------------------------------------------------*/
